* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Frank Ruhl Libre", serif;
    font-size: 1.1rem;
}

.greyDots {
    height: 50px;
    min-width: 50px;
    text-align: center;
    background-color: rgb(221, 247, 227);
    color: rgb(95, 139, 80);
}

.IngridientImg {
    height: 4.8rem;
    
    
}
.TopImg {
    
    width: 80%;
    z-index: -1;
  
}
.HeaderBody {
    top: 20rem;
}
.HeaderCard {
    border: 0.3rem solid rgb(95, 139, 80);
    background-color: white;
}

.finalImage {
    display: flex;
    width: 400px; 
    height: auto;
    margin-top: 15rem;
    
  }


/* .FinalImg {
    max-width: 70%;
} */
.NavBarHeading {
    font-family: "Frank Ruhl Libre", serif;
    color: #b3c890;
    text-shadow: 2px 2px 4px;
}

/* .linkdeco {
    text-decoration: none;
} */

.lead {
    font-family: serif;
}

.navbar {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 18px;
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

/* .d-flex {
    flex: 0 0 25%;
} */
.form-control {
    font-size: 10px;
}
.btn {
    font-size: 10px;
}

/* HERO SECTION!!! */
.heroCover {
    position: absolute;
    top: 0;
    background-size: cover;
    width: 100%;
    height: auto;
}


/*footer */

.logo-bottom {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  
   .btn-bottom{
    background-color:rgb(95, 139, 80);
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    padding: 1rem;
    margin-top: 1rem;
  }
  
  .btn-bottom:hover {
    background-color: lightgreen;
  }
  
  .container-bottom {
    padding-top: 1rem;
    font-family: "Frank Ruhl Libre", serif;
  }
  
  .first-column-bottom {
    overflow: hidden;
  }