* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Frank Ruhl Libre", serif;
    font-size: 1.1rem;
}

.greyDots {
    height: 2.3rem;
    width: 2.3rem;
    text-align: center;
    background-color: rgb(221, 247, 227);
    color: rgb(95, 139, 80);
}

.IngridientImg {
    height: 4.8rem;
}
.TopImg {
    
    width: 80%;
    z-index: -1;
  
}
.HeaderBody {
    top: 20rem;
}
.HeaderCard {
    border: 0.3rem solid rgb(95, 139, 80);
    background-color: white;
}
/* .FinalImg {
    max-width: 70%;
} */
.NavBarHeading {
    font-family: "Frank Ruhl Libre", serif;
    color: #b3c890;
    text-shadow: 2px 2px 4px;
}

/* .linkdeco {
    text-decoration: none;
} */

.lead {
    font-family: serif;
}

.navbar {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 18px;
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

/* .d-flex {
    flex: 0 0 25%;
} */
.form-control {
    font-size: 10px;
}
.btn {
    font-size: 10px;
}

/* HERO SECTION!!! */
.heroCover {
    position: absolute;
    top: 0;
    background-size: cover;
    width: 100%;
    height: auto;
}