* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Frank Ruhl Libre", serif;
    font-size: 1.1rem;
}

.greyDots {
    height: 2.3rem;
    width: 2.3rem;
    text-align: center;
    background-color: rgb(221, 247, 227);
    color: rgb(95, 139, 80);
}

.IngridientImg {
    height: 4.8rem;
}
.TopImg {
    width: 80%;

    z-index: -1;
}
.HeaderBody {
    top: 15rem;
}
.HeaderCard {
    border: 0.3rem solid rgb(95, 139, 80);
    background-color: white;
}

.BorderDiv {
    border: 0.1rem solid rgb(95, 139, 80);
}
