/*Styles

font-family: 'Frank Ruhl Libre', serif;
rgb(226,243,243)

*/

/* Start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Frank Ruhl Libre", serif;
}

/* nav and hero will start here  */

.NavBarHeading {
    font-family: "Frank Ruhl Libre", serif;
    color: #b3c890;
    text-shadow: 2px 2px 4px;
}

/* .linkdeco {
  text-decoration: none;
} */

.lead {
    font-family: serif;
}

.navbar {
    font-family: "Frank Ruhl Libre", serif;
    font-size: 18px;
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

/* .d-flex {
  flex: 0 0 25%;
} */
.form-control {
    font-size: 10px;
}
.btn {
    font-size: 10px;
}

/* HERO SECTION!!! */
.heroCover {
    position: absolute;
    top: 0;
    background-size: cover;
    width: 100%;
    height: auto;
}

/* nav and hero  will end here  */

/* main card section start here */
.sectionForCards {
    background-color: rgb(221, 247, 227);
}
.timerImg {
    max-height: 2rem;
    max-width: auto;
}
.starImg {
    max-height: 2rem;
    max-width: auto;
}

/* .cardLinks {
        max-height: 90%;
        max-width: 90%;
    } */

/* .horizontalCard {
        max-height: 40%;
        max-width: 100%;
    }
    .verticalCard {
        min-height: 82.5%;
        /* max-width: 100%; 
    } */
.cardLinks:hover {
    box-shadow: 0 0px 4px rgb(255, 94, 0);
}
h5:hover {
    font-weight: 600;
    color: rgb(95, 139, 80);
}

@media (max-width: 768px) {
    .equal-card-height {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        max-width: 500px;
        max-height: 500px;
        object-fit: cover;
        overflow: hidden;
    }
    .verticalCard img {
        width: 100%;
        height: 50%;
    }
    .HorizontalCardImg {
        width: 100%;
        height: 50%;
        object-fit: cover;
        overflow: hidden;
    }
    .HorizontalCardImg img {
        width: 100%;
        height: 100%;
    }
    .mainRow {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        gap: 3 !important;
    }
    .equal-card-height img {
        max-height: 50%;
        min-width: 100%;
    }
}
@media (max-width: 1200px) {
    .timerImg {
        max-height: 1rem;
        max-width: auto;
    }
    .starImg {
        max-height: 1rem;
        max-width: auto;
    }
    .VerticalTimerDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0;
        margin: 0;
        padding: 0;
    }
    .HorizontalTimerDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0;
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 1400px) {
    .timerImg {
        max-height: 1rem;
        max-width: auto;
    }
    .starImg {
        max-height: 1.5rem;
        max-width: auto;
    }
}
.timerImg {
    max-height: 2rem;
    max-width: auto;
}
.starImg {
    max-height: 2rem;
    max-width: auto;
}

/* .cardLinks {
      max-height: 90%;
      max-width: 90%;
  } */

/* .horizontalCard {
      max-height: 40%;
      max-width: 100%;
  }
  .verticalCard {
      min-height: 82.5%;
      /* max-width: 100%; 
  } */
.cardLinks:hover {
    box-shadow: 0 0px 4px rgb(255, 94, 0);
}
h5:hover {
    font-weight: 600;
    color: rgb(95, 139, 80);
}

@media (max-width: 768px) {
    .equal-card-height {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        max-width: 500px;
        max-height: 500px;
        object-fit: cover;
        overflow: hidden;
    }
    .verticalCard img {
        width: 100%;
        height: 50%;
    }
    .HorizontalCardImg {
        width: 100%;
        height: 50%;
        object-fit: cover;
        overflow: hidden;
    }
    .HorizontalCardImg img {
        width: 100%;
        height: 100%;
    }
    .mainRow {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        gap: 3 !important;
    }
    .equal-card-height img {
        max-height: 50%;
        min-width: 100%;
    }
}
@media (max-width: 1200px) {
    .timerImg {
        max-height: 1rem;
        max-width: auto;
    }
    .starImg {
        max-height: 1rem;
        max-width: auto;
    }
    .VerticalTimerDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0;
        margin: 0;
        padding: 0;
    }
    .HorizontalTimerDiv {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0;
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 1400px) {
    .timerImg {
        max-height: 1rem;
        max-width: auto;
    }
    .starImg {
        max-height: 1.5rem;
        max-width: auto;
    }
}

/* main card section will end here  */

/* main meet-our-team section  will start here  */

.TeamContainerHeading {
    font-family: "Frank Ruhl Libre", serif;
    color: rgb(44, 138, 3);
}

.text-section {
    font-family: "Frank Ruhl Libre", serif;
}

.team {
    background-color: white;
    padding: 70px;
}

.ImgUs {
    width: 100px;
}

.CardUs {
    background-color: rgb(221, 247, 227);
}

/* footer will start here  */
.logo-bottom {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.card-text {
  color: black;
  text-shadow: 1px 0 0 white
}

    /* main meet-our-team section  will end here  */
  
  
  /* footer will start here  */
  
  /* footer will end here  */

.btn-bottom {
    background-color: rgb(95, 139, 80);
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
        rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
        rgba(44, 187, 99, 0.15) 0 16px 32px;
    padding: 1rem;
    margin-top: 1rem;
}

.btn-bottom:hover {
    background-color: lightgreen;
}

.container-bottom {
    padding-top: 1rem;
    font-family: "Frank Ruhl Libre", serif;
}

.first-column-bottom {
    overflow: hidden;
}
/* footer will end here  */
