/*Styles

font-family: 'Frank Ruhl Libre', serif;
rgb(226,243,243)

*/

/* Start*/
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  
  /* nav and hero will start here  */
  
  
  
  /* nav and hero  will end here  */
  
  
  /* main card section start here */
  
  
  /* main card section will end here  */
  
  /* main meet-our-team section  will start here  */
  

.TeamContainerHeading {
  font-family: "Frank Ruhl Libre", serif;
  color: rgb(44, 138, 3);
}

.text-section {
  font-family: "Frank Ruhl Libre", serif;
}

.team {
  background-color: white;
  padding: 70px;
}

.ImgUs {
  width: 100px;
}

.CardUs {
  background-color: rgb(221, 247, 227);
}

  /* main meet-our-team section  will end here  */
  
  
  /* footer will start here  */
  
  /* footer will end here  */

 


  


