/*Styles

font-family: 'Frank Ruhl Libre', serif;
rgb(226,243,243)

*/

/* Start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Frank Ruhl Libre", serif;
}

/* nav and hero will start here  */

/* nav and hero  will end here  */

/* main card section start here */
.sectionForCards {
    background-color: rgb(221, 247, 227);
}
.timerImg {
    max-height: 2rem;
    width: auto;
}

.cardLinks:hover {
    box-shadow: 0 0px 4px rgb(255, 94, 0);
    cursor: pointer;
}

/* main card section will end here  */

/* main meet-our-team section  will start here  */

/* main meet-our-team section  will end here */

/* footer will start here  */

/* footer will end here  */
